.catalog-tools .main-section .row {
  margin-bottom: 30px;
}
.catalog-tools .catalog-title {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}
.catalog-tools .filter-wrap .btn, .catalog-tools .filter-wrap .ui-datepicker .ui-priority-primary, .ui-datepicker .catalog-tools .filter-wrap .ui-priority-primary, .catalog-tools .filter-wrap .moreevents, .catalog-tools .filter-wrap .selectlists .select-all label, .selectlists .select-all .catalog-tools .filter-wrap label {
  text-transform: uppercase;
}
.catalog-tools .filter-label {
  display: inline;
  text-transform: uppercase;
}
.catalog-tools .tool-img {
  height: 125px;
}
.catalog-tools .tool-body {
  position: relative;
  background: #FFFFFF;
  padding: 15px;
  height: 325px;
}
/*@media (min-width: 768px) {
  .catalog-tools .tool-body {
    max-height: 335px;
  }
}*/
.catalog-tools .tool-body p {
  font-size: 14px;
  line-height: 20px;
}
.catalog-tools .tool-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.catalog-tools .content-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}


.gridder-close::before, .gridder-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  right: 3%;
  height: 1px;
  background: #686868;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.gridder {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.gridder:after {
  content: '';
  display: table;
  clear: both;
}

.gridder-list {
  width: 100%;
  display: none;
  zoom: 1;
  cursor: pointer;
  position: relative;
  margin: 0 0 15px 7px;
  vertical-align: top;
}
@media (min-width: 768px) {
  .gridder-list {
    width: 48%;
  }
}
@media (min-width: 1024px) {
  .gridder-list {
    width: 32%;
  }
}
@media (min-width: 1200px) {
  .gridder-list {
    width: 24%;
  }
}
.gridder-list .gridder-thumb {
  display: block;
}
.gridder-list .gridder-thumb .overlay {
  position: absolute;
  color: #000000;
  text-align: center;
  left: 0;
  bottom: 0;
  font-weight: normal;
  display: block;
  background: #AAAAAA;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  opacity: 0;
}
.gridder-list .gridder-thumb .overlay span {
  font-weight: 11px;
  display: block;
}
.gridder-list img {
  width: 100%;
}
.gridder-list.first {
  margin-left: 0;
}
.gridder-list.selectedItem {
  margin-bottom: 25px;
  top: 10px;
}
.gridder-list.selectedItem:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 14px 17px 14px;
  border-color: transparent transparent #222222 transparent;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 45%;
  margin-bottom: -20px;
}
.gridder-list:hover .overlay {
  opacity: 0.8;
}

.gridder-content {
  display: none;
}

.gridder-show {
  position: relative;
  background: #222222;
  float: left;
  padding: 0;
  color: #FFFFFF;
  overflow: hidden;
  font-size: 0;
  width: 98.9%;
  padding: 40px;
  top: 0;
  left: 6px;
  margin-bottom: 10px;
}
.gridder-show .padding {
  display: none;
}
.gridder-show:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.gridder-show .detail-img {
  float: left;
  width: 100%;
  margin: 0 0 15px;
}
@media (min-width: 1024px) {
  .gridder-show .detail-img {
    width: 30%;
    margin: 0 25px;
  }
}
.gridder-show .content-img {
  height: 200px;
}
@media (min-width: 1024px) {
  .gridder-show .content-img {
    height: 350px;
  }
}
.gridder-show .detail-content {
  width: 100%;
  text-align: left;
}
@media (min-width: 1024px) {
  .gridder-show .detail-content {
    float: left;
    width: 64%;
  }
}

.gridder-close {
  opacity: 1;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.gridder-close:hover {
  opacity: 1;
}
.gridder-close:hover::before {
  background: #FFFFFF;
}
.gridder-close:hover::after {
  background: #FFFFFF;
}

.gridder-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.gridder-nav {
  color: #FFFFFF;
}
.gridder-nav.prev:before {
  font-family: FontAwesome;
  content: "\f053";
  font-size: 30px;
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 15px;
  width: 40px;
  height: 99px;
}
.gridder-nav.next:before {
  font-family: FontAwesome;
  content: "\f054";
  font-size: 30px;
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  width: 40px;
  height: 99px;
}

.gridder-img:hover {
  opacity: 0.8;
}

.gridder-prev:hover {
  opacity: 1;
}

.gridder-list .gl-wrap {
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  /*height: 432px;*/
}
.gridder-list .gl-wrap:hover, .gridder-list .gl-wrap:focus {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.gridder-list .gl-wrap:active {
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
}
.gridder-list .gl-wrap .btn-block, .gridder-list .gl-wrap .moreevents {
  position: relative;
  bottom: 0;
}
